body {
    font-family: 'Montserrat', sans-serif;
}

.rows {
    -webkit-flex-direction: row !important; 
    flex-direction: row !important; 
}

.row {
    width: 100%;
    padding: 5px 0 5px 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.marca-dagua {
    padding-top: 50px;
    background-image: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.95)), url("../img/logo-marca-dagua.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#sombra {
    background-color: #f66d42;
    height: 15px;
}

#voltar-ao-topo {
  display: none;
  z-index: 10000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #309b47c4;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.block-container {
  width: 100%;
  height: 80px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-green {
  background: rgb(46, 209, 95);
  background: linear-gradient(80deg, rgb(18, 114, 34) 2%, rgb(46, 209, 95) 100%);
  border-radius: 5px;
  font-weight: 300;
  font-size: 27px
}

.block-orange {
  background: rgb(176, 96, 41);
  background: linear-gradient(80deg, rgba(176, 96, 41, 1) 2%, rgb(225, 87, 18) 100%);
  border-radius: 5px;
  font-weight: 400;
  font-size: 27px;
}

.block-orange a {
  color: white !important
}

.block-green a {
  color: white !important
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #f1f1f1;
  border-radius: 5px;
  -webkit-box-shadow: 4px 3px 21px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 4px 3px 21px -5px rgba(0, 0, 0, 0.68);
  box-shadow: 4px 3px 21px -5px rgba(0, 0, 0, 0.68);
}

.block a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.block a:hover {
  border-radius: 5px;
  -webkit-box-shadow: 4px 3px 21px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 4px 3px 21px -5px rgba(0, 0, 0, 0.68);
  box-shadow: 4px 3px 21px -5px rgba(0, 0, 0, 0.68);
}

#servicos {
    justify-content: center;
    text-align: center;
}

#sevicos img {
    max-width: 100%;
}
.tablinks .button-text {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    font-size: 42px;
}

.laranja {
    background-color: #f66d42 !important;
}

.linha {
    position: relative;
    background-color: #f66d42;
    height: 15px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
}

.flex-3 {
    
    flex: 2
}

.flex-1 {
    display: flex;
    flex: 1;
}

.sl-esquerda {
    flex: 3
}

.sl-direita {
    flex: 1
}

.btn {
    width: 400px;
    height: 100%;
    line-height: 60px;
    background-color: #f66d42;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px 0 40px !important;
}

#posts {
  background-image: url("../img/logo_negativa_bg.png");
  background-position-x: 50%;
  background-position-y: 50%;
  background-color: #d7d7d7;
}

.instagram .elfsight-app-44436e3f-9131-40e9-8623-20a8834d9bf4{
  border-radius: 40px;
  margin: 40px;
  padding: 30px;
  max-width: 1100px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(94, 94, 94, 0.75);
}

.eapps-instagram-feed-posts-inner  {
  width: 100% !important;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: auto;
}

.eapps-instagram-feed-posts-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between !important;
}

.eapps-instagram-feed-posts-view {
  display: flex;
  justify-content: space-between !important;
  flex-wrap: wrap;
}

.eapps-instagram-feed-posts-item {
  width: calc(33.3333% - 90px) !important;
  border-radius: 20px !important;
  border: 1px solid #ccc !important;
}

#servicos-img {
    max-width: 100%;
}

#img-rodape {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
  #sombra {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  
  .block {
    width: 300px;
  }

  .block a {
    font-size: 20px;
  }

  .instagram p { 
    font-size: 50px;
    margin: 10px 0;
  }
}
